 .mainContent {
    flex: 1;
    /* padding: 1rem; */
    overflow-y: auto;
}

/* Breadcrumb */
.breadcrumb {
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #905f00;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* شبكة البطاقات */
.homeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}
 

/* ريسبونسيف للشاشات الصغيرة */
@media (max-width: 640px) {
    .homeGrid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .homeGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
