/* About Section */
.about {
    padding: 5rem 2rem;
    background: #f8f9fa;
  }
  
  .aboutContainer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .sectionTitle {
    font-size: 2.5rem;
    /* color: #1e3c72; */
    color: #333333;
    margin-bottom: 1rem;
  }
  
  .sectionSubtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 3rem;
  }
  
  .aboutContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  
  .aboutCard {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .aboutIcon {
    width: 80px;
    height: 80px;
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background-color: #EDB136; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    font-size: 2rem;
    background-color: #905f00;
  }