 
  
  .formPage {
    min-height: 100vh;
    /* background: linear-gradient(to bottom right, #e0f2fe, #e0e7ff); */
    padding: 10px; 
    z-index: 999;
    /* background-color: #E6E6E6; */
  }
  
  .formContainer {
    max-width: 700px;
    margin: auto;
  } 
  
  .formHeader {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formHeader h1 {
    font-size: 2rem;
    color: #905f00;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formHeader p {
    color: black;
    
  }
  
  .successMessage {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #dcfce7;
    border: 2px solid #22c55e;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .successMessage p:first-child {
    font-weight: bold;
    color: #14532d;
  }
  
  .successMessage p:last-child {
    color: #166534;
    font-size: 0.9rem;
  }
  
  .formBox {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup label {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
    color: #1f2937;
  }
  
  .formGroup input {
    width: 100%;
    padding: 12px;
    border: 2px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;
  }
  
  .formGroup input:focus {
    border-color: #3b82f6;
  }
  
  .inputError {
    border-color: #ef4444;
    background-color: #fef2f2;
  }
  
  .errorText {
    color: #b91c1c;
    font-size: 0.85rem;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .summaryBox {
    background: #dbf4ff;
    border: 2px solid #93c5fd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    color: #1e3a8a;
  }
  
  .formButtons {
    display: flex;
    gap: 10px;
  }
  
  .formButtons button {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .formButtons button:last-child {
    /* background: linear-gradient(to right, #2563eb, #1d4ed8); */
    color: white;
    background-color: #905f00;
  }
  
  .formButtons button:last-child:hover {
    transform: scale(1.05);
  }
  
  /* .form-buttons button:last-child {
    background: #d1d5db;
    color: #1f2937;
    color: #905f00;
    background-color: white;
    border: 1px solid #905f00;
  }
  
  .form-buttons button:last-child:hover {
    background: #9ca3af;
  } */
  
  .formNotes {
    margin-top: 20px;
    background: #fef3c7;
    border-left: 4px solid #f59e0b;
    padding: 15px;
    border-radius: 8px;
  }
  
  .formNotes p {
    font-weight: bold;
    color: #78350f;
    margin-bottom: 5px;
  }
  
  .formNotes ul {
    margin: 0;
    padding-left: 20px;
    color: #78350f;
    font-size: 0.9rem;
  }
  
  .formNotes ul li {
    margin-bottom: 3px;
  }
  
  