 .mainContent {
  /* padding: 1.5rem; */
}

 .breadcrumb {
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #905f00;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
