 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Tajawal", sans-serif;

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  line-height: 1.6;
   overflow-x: hidden;
}