.payment {
    padding: 2rem 2rem;
    background: #f8f9fa;
    background-color: #e6e6e6;
  }
  
  .paymentContainer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .sectionTitle {
    font-size: 2.5rem;
    /* color: #1e3c72; */
    color: #333333;
    margin-bottom: 1rem;
  }

  .sectionSubtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 3rem;
  }
  .paymentGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
  }
  
  .paymentCard {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    font-size: 1.5rem;
    font-weight: bold;
  }